@media screen and (min-width: 320px) and (max-width: 480px) {

    .header{
        height: 15vh;
    }
    h1 {
        font-size: 1em;
    }

    #stripe {
        height: 8vh;
    }

    #message {
        font-size: .6rem;
    }

    #reset{
        padding: .2rem;
        width: 30%;
    }
    #easyButton, #hardButton{
        padding: .2rem;
        width: 20%;
    }
    .container {
        width: 80%;
        height:  100%;
        margin-left: 3rem;
    }

    .square {
        float: left;
        width: 40%;
        height: 50%;
        padding-bottom: 30%;
        margin: 1rem .5rem 1rem .5rem;
    }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: .8rem;
        color: #f3f3f3;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .header{
        height: 15vh;
    }

    h1 {
        font-size: 1em;
    }

    #message {
        font-size: .6rem;
    }

    #stripe {
        height: 7vh;
    }

    #reset{
        padding: .4rem;
        width: 20%;
    }

    #easyButton, #hardButton{
        padding: .3rem;
        width: 15%;
    }

    .container {
        width: 80%;
        height:  100%;
        margin-left: 5rem;
    }

    .square {
        float: left;
        width: 25%;
        height: 40%;
        padding-bottom: 30%;
        margin: 1rem .5rem 1rem .5rem;
    }

}


@media screen and (min-width: 769px) and (max-width: 990px) {
    h1 {
        font-size: 1.3em;
    }
    #message {
        font-size: .6rem;
    }
    #reset{
        padding: .4rem;
        width: 15%;
    }
    #easyButton, #hardButton{
        padding: .5rem;
        width: 15%;
    }
}